main {
    flex: 1;
}
main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style: none;
}

@media (max-width: 650px) {
  main ul {
    grid-template-columns : 1fr;
  }
}

xramfamgx
fleepber chicão
lopam_x

 https://github.com/GHFurlan, https://www.freecodecamp.org/fcc38bdeddf-89de-4e81-b29c-505ff39e6ee4